{% extends 'page.html.twig' %}

{% block title %}Tentang Saya{% endblock %}

{% block body %}
	<div id="page">
		<div id="visi-misi">
			<div>
				<h2 class="text-center">Tentang Saya</h2>
			</div>

			<div class="grid-two">
				<div>
					<table>
						<tr>
							<td>Nama</td>
							<td>: Marleni</td>
						</tr>
						<tr>
							<td>NIM</td>
							<td>: 2016510012</td>
						</tr>
						<tr>
							<td>Kontak</td>
							<td>: 0823 8727 4305</td>
						</tr>
						<tr>
							<td>Email</td>
							<td>: marlenigeodesi2@gmail.com</td>
						</tr>
						<tr>
							<td>Alasan Pembuatan WebGis</td>
							<td>: Untuk mempermudah pengelolaan data mahasiswa Teknik Geodesi ITP</td>
						</tr>
					</table>
				</div>
				<div width="220px" style="padding-left:20px">
					<img src="{{ asset('images/profil.jpeg') }}" style="width:100%">
				</div>
			</div>
		</div>
	</div>

{% endblock %}