{% extends 'page.html.twig' %}

{% block title %}Galeri Geodesi ITP!{% endblock %}

{% block body %}
	<div id="page">
		<div id="visi-misi">

			<h2 class="text-center">Visi – Misi Teknik Geodesi S1</h2>

			<h3 class="text-center">VISI :</h3>
			<p class="text-center">“Menjadi Salah Satu Prodi Teknik Geodesi yang Unggul di Indonesia Pada Tahun 2024”</p>

			<div>
				<h3 class="text-center">MISI :</h3>
				<p>Upaya untuk menwujudkan visi tersebut maka dirumuskan misi Prodi Teknik Geodesi FTSP – ITP sebagai berikut :</p>
				<ol>
					<li>
						Menyelenggarakan proses belajar mengajar yang berkualitas, didukung sarana dan prasarana sesuai dengan perkembangan teknologi dibidang Teknik Geodesi pada tingkat sarjana.
					</li>
					<li>
						Mengembangkan penelitian yang kompetitif, dinamis, dan inovatif sejalan perkembangan IPTEK dan kebutuhan masyarakat dalam bidang teknik Geodesi, serta pengabdian kepada masyarakat untuk memperkaya dan menambah kepekaan civitas akademika terhadap permasalahan kemasyarakatan.
					</li>
					<li>
						Melaksanakan kerjasama kemitraan dengan berbagai pihak dan stakeholders.
					</li>
				</ol>
			</div>
			 
			<div>
				<p>Berdasarkan Visi dan Misi diatas, maka Tujuan didirikannya Program Studi Teknik Geodesi S1 adalah :</p>
				<ol>
					<li>
						Menghasilkan Sarjana Teknik Geodesi yang terampil sehingga mampu menerapkan pengetahuan dan keahlianya, menjunjung tinggi etika profesi, mampu berkerjasama secara teamwork dan memiliki komitmen untuk belajar sepanjang hayat serta berkiprah ditengah masyarakat.
					</li>
					<li>
						Meningkatkan jumlah penelitian dan pengabdian kepada masyarakat serta menyebarluaskan pengetahuan dan ketrampilan di bidang Teknik Geodesi yang berguna bagi kepentingan masyarakat luas dan bagi pengembangan Ilmu Geodesi.
					</li>
					<li>
						Meningkatkan kerjasama kemitraan dengan berbagai pihak dan stakeholders.
					</li>
				</ol>
			</div>
		</div>
	</div>

{% endblock %}